@media (max-width: 1199px) {
  .container {
      max-width: 95%;
  }
}

@media (min-width: 1200px) {
  .container {
      width: 1170px;
  }
}

@media (min-width: 1450px) {
  .container {
      width: 1420px;
  }
}

@media (min-width: 1620px) {
  .container {
      width: 1590px;
  }
}
.App {
  background-color: #333333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-size: 0.9em;
}
.header {
  height: 100px;
}
.container {
  width: 100%;
  flex: 1;
  color: #ccc;
}
/* TlHeader styles */
.navbar {
   background-color: #666;
   color: #ccc;
   font-size: 0.9em;
   z-index: 51;
   top: 57px;
   max-width: 3000px;
   position: absolute;
   width: 100%;
   border-radius: 0;
   min-height: 30px;
   height: 45px;
   border: 0;
   padding-bottom: 0;
   padding-top: 10px;
}
.navbar .nav-right {
  float: right;
}
.nav-item {
  margin-right: 10px;
}
img.logo {
   position: absolute;
   top:0;
   left:10px;
   width: 170px;
}
.navbar a {
   background-color: #666;
   color: #ccc;
   font-size: 1.1em;
   font-weight: bold;
   padding: 10px 20px 10px 20px;
   border-radius: 5px 5px 0 0;
   text-decoration: none;
}
.navbar div.nav-item a.active, .navbar div.nav-item:hover a{
   background-color: #333333;
}
.active-user {
   float: right;
   font-weight: bold;
   padding-right: 20px;
   color: #ccc;
   font-size: 1.1em;
}

/* TlFooter styles */
footer {
  margin-top: 15px;
  border-top: 1px solid #666;
  text-align: center;
}
.copyright {
  color:#666;
  font-size: 0.7em;
}

.Login, .Signup {
  display: block;
  width: 100%;
  margin: 10px 0;
}
.Login h3 {
  font-size: 2em;
  line-height: 2em;
}
.error {
  color: red;
}

/* Entry Page */

button, select, input, textarea {
  color: #333333;
}
section {
  margin-top: 10px;
  clear: both;
}

#guideline {
  width: 1px;
  background-color: #0099ff;
  height: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  top: 100px;
}
#entryform {
  display: inline-block ;
  padding: 4px 4px 4px 10px;
  width: 850px; ;
}

#select-task {
  width: 250px;
}
.error-message {
  color: red;
}

.content-center {
  padding: 40px 15px;
  text-align: center;
}
.col-md-9 {
  padding-left: 25px;
}
.btn {
  height: 24px;
  padding: 1px 8px;
}
div.entries {
  width: 100%;
  padding: 10px;
}
table.entries {
  width: 100% ;
  border: 0;
}
table.entries td.head300 {
  width:300px;
}
table.entries td.head40 {
  width:40px;
}
table.entries tr.tlrow {
  border-bottom: 1px solid #666;
   max-height:40px;
}
table.entries tr:first-child {
  border-top: 1px solid #666;
  min-height:10px;
  max-height:10px;
}
table.entries td {
  padding: 0 4px 0 4px;
}
table.entries td.timelineArea {
 padding: 0;
}
td.startstop, td.descedit, td.hidebtn  {
  width: 38px;
}
table.entries td.taskname {
  width: 220px;
  padding: 0;
  height:39px;
}
table.entries td.taskname div.visiblepart {
  width: 220px;
  padding: 0;
  margin:0;
  height:39px;
  overflow:hidden;
}
table.entries td.taskname div.visiblepart div.hide-overflow {
  height:350%;
}
button.showmanualform {
 margin-left: 20px;
 width: 150px;
}
.entrypage {
  margin-top: 12px;
  margin-bottom: 12px;
}
.bottomaligned {
  position: absolute;
  bottom: 0;
  margin-bottom: 7px;
  left: 0;
}
.selectRoles {
  float: right;
}

.right {
  width: 100%;
  text-align: right;
}
.alert-true {
  background-color: #e66;
}
.alert-false {
  background-color: #6e6;
}
.controls span, .controls button {
  margin-right: 7px; 
}
span.control {
  width: 32px;
  height: 32px;
  cursor: pointer;
}
#scrollTimeline .scrollableArea  .tlscale, td.tlscale {
  height: 21px;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #666;
}
#scrollTimeline .scrollableArea .tlbody {
  background: #333333 url("/img/bgrow.png") repeat-y;
  width: 100%;
  display:block;
  overflow:hidden;
}

#scrollTimeline {
 width: 1000px;
 position: relative;
 display:block;
 overflow:hidden;
 height: 100%;
}

#scrollTimeline .scrollableArea {
 display:block;
 overflow:hidden;
}

#scrollTimeline .scrollingHotSpotLeft,
#scrollTimeline .scrollingHotSpotRight  {
  width: 50px;
}
#scrollTimeline .scrollableArea div.singletimeline {
  width: 100%;
  height: 43px;
  border-bottom: 1px solid #666;
}

#scrollTimeline .scrollableArea div.singletimeline img {
  top: 13px;
  height: 14px;
  position: absolute;
}

table.tmp {
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
table.tmp td {
  padding: 3px;
  border-bottom: 1px solid #666;
  border-right: 1px solid #666;
}
.changeDate:hover {
  cursor: pointer
}

#scrollview {
	overflow-x: scroll;
	overflow-y: hidden;
	background-color: #333;
}
#marginbox {
	  float: left;
	  width: 300px;
	  background-color: #333;
  	  border-top: 1px solid #444;
}
#scrollbox {
	 width: 2400px;
	 background-color: #333;
}
th, td {
	padding: 4px;
}
tr.header, tr.footer {
	height: 17px;
	background-color: #333;
	line-height: 17px;
}
tr.header {
  	 border-bottom: 1px solid #666;
}
tr.footer {
  	 border-top: 1px solid #666;
}

tr.tlbody {
	height: 34px;
	background-color: #333;
	border-bottom: 1px solid #666;
}
td.tlscale {
 width: 100%;
 padding: 0;
 border-bottom: 1px solid #666;
}
td.tlscale img {
	  width: 100%;
}
.bar {
	height: 12px;
	top: 10px;
	background-color: #0099ff;
}
td.line {
  padding: 2px 0;
  height: 34px;
   background: #333 url("/img/bgrow.png") no-repeat;
   width: 100%;
   position: relative;
   display: block;
   overflow:hidden;
   border-bottom: 1px solid #666;
}
